<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">

          <%=image_tag "figuras/people/p_132.jpg"%>
          <%=image_tag "figuras/people/p_128.jpg"%>
          <%=image_tag "figuras/people/p_140.jpg"%>
          <%=image_tag "figuras/people/groups/gro_12.jpg"%>
          <%=image_tag "figuras/people/groups/gro_13.gif"%>
          <%=image_tag "figuras/people/groups/gro_14.gif"%>
          <%=image_tag "figuras/people/groups/gro_15.gif"%>
          <%=image_tag "figuras/people/groups/gro_16.jpg"%>
          <%=image_tag "figuras/people/p_057.jpg"%>
          <%=image_tag "figuras/people/p_061.jpg"%>
          <%=image_tag "figuras/people/p_065.jpg"%>
          <%=image_tag "figuras/people/p_023.jpg"%>

       </div>
      <div class="post"></div>
    </div>
  </div>

