<%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname %>
    </div>

    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :studies_level %><br />
      <%= f.select :studies_level, options_for_select(["High School", "Undergraduate", "Masters", "PhD", "Other"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
    </div>

    <div class="field">
      <%= f.label :field_study %><br />
      <%= f.select :field_study, options_for_select(["Computer Science", "Software Management", "Telecommunications", "Software Development", "Electrical Engineering"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


