<h1>Listing Users</h1>

       <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Password</th>
        <th>Studies level</th>
        <th>Field</th>
         <th></th>
        <th></th>
        <th></th>
      </tr>




      <% @users.each do |user| %>
          <tr>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.studies_level %></td>
            <td><%= user.field_study %></td>

            <% if admin? %>
            <td><%= link_to 'Show', user %></td>

            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, :remote=>true, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

            </tr>
      <% end %>


    </table>
    <% if admin? %>
    <%= link_to 'New Student user', new_user_path %>
    <% end %>
