<%= form_for(@mentor) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>

  <div class="field">
    <%= f.label :studies_level %><br />
    <%= f.select :studies_level, options_for_select(["High School", "Undergraduate", "Masters", "PhD", "Other"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
  </div>
  <div class="field">
    <%= f.label :field_study %><br />
    <%= f.select :field_study, options_for_select(["Computer Science", "Software Management", "Telecommunications", "Software Development", "Electrical Engineering"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
